<div class="flex flex-col gap-4 mb-8 text-center sm:text-left">
  <h1 class="text-black dark:text-white text-4xl font-extrabold">
    ✨ Awesome Dev Resources
  </h1>
  <p class="text-proseBlack dark:text-proseWhite">
    A curated list of awesome resources for developers in 🇲🇾 Malaysia.
  </p>
  <nav class="flex gap-2 text-link justify-center sm:justify-start">
    <a href="/">Home</a>
    <a href="/contributing-guidelines">Contributing guidelines</a>
    <a
      href="https://github.com/itschrislow/awesome-dev-resources.github.io"
      target="_blank"
    >
      Github
    </a>
  </nav>
</div>
